# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment
.env

# Node (if any frontend)
node_modules/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# MAMP (optional)
MAMP/